body {
    background-color: rgb(240, 211, 211)
}
h2 {
    color: rgb(83, 119, 162);
    font-family: "Dancing Script";
}
h1 {
    font-family: "Edu Au VIC WA NT Arrows";
}

.description {
    width: 600px
}
.left {
    width: 600px
    float: left
}

