body {
    background-color: rgb(240, 211, 211)
}
ul {
    font-size: 18pt;
}
li {
    font-size: 18pt;
}
p {
    font-size: 18pt;
}
h2 {
    color: rgb(204, 128, 204);
    font-family: "Dancing Script";
    font-size: 40pt;
}
h1 {
    font-family: "Kalnia Glaze";
    font-size: 40pt;
    margin-top: 40px;
}

.description {
    width: 600px;
}

.left {
    float: left;
    width: 600px;
    margin-top: 55px ;
}

.right {
    width: 600px;
    float: left;
}
.navbar-brand {
    font-family: "Dancing Script";
    font-size: 40pt;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: chartreuse;
} 
